<h1>{{name}}</h1>
<!--Lista de definicion : dl-->
<dl>
  <td>Nombre:  </td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd> {{age}}</dd>

  <td>Mision: </td>
  <dd>Salvar a Carolina {{getHeroDescription()}}</dd>

  <td>Capitalizado: </td>
  <dd>{{capitalizedName}}</dd>
</dl>

<button
*ngIf="name !=='Mario Harald'"
(click)="changeHero()"
class="btn btn-primary mx-2">
  Cambiar Nombre
</button>
<button
*ngIf="age !== 44"
(click)="changeAge()"
class="btn btn-primary">
  Cambiar Edad
</button>

<button
(click)="resetForm()"
class="btn btn-primary mx-2">
  Reset
</button>
